@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Kanit:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'EB Garamond', serif;
  background-image: url(resources/img/fondos/fondo5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.modal-content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

.modal-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

#imagen {
  background-image: url("resources/img/hogeras/mujer1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  width: 230px;
  height: 270px;
  transition: 1s;
}

#palabra-secreta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.letras {
  width: 2.5rem;
  font-size: 2.3em;
  text-align: center;
  border-bottom: 3px solid #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 800;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.letrasEspacio {
  width: 16px;
  text-align: center;
  color: #fff;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

#teclado {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.teclas button {
  width: 60px;
  height: 60px;
  margin: 2px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 8px gray;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: 800;
  font-family: 'EB Garamond', serif;
  font-size: 1.7em;
  color: black;
  align-items: center;
  justify-content: center;
}

#btnReiniciar {
  background-color: #91cbf1;
}

.teclas button:disabled {
    cursor: not-allowed;
}

.teclas button:hover {
  transform: scale(1.1);
}

#categoria {
  margin-top: 20px;
  font-size: 2em;
  font-weight: 900;
  font-family: 'EB Garamond', serif;
  color: #000000;
  background-color: #c96501b7;
  border-radius: 5px;
}

#jemm {
  font-weight: 800;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateY(50%);
  text-align: center;
}

#jemm a {
  text-decoration: none;
  color: rgb(135, 200, 253);
}

#jemm a:hover {
  text-decoration: underline;
}

#artist {
  margin-right: 0.7em;
  color: white;
}

@media (max-width: 100vh) {
  .teclas button {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
  }
  .letras {
    width: 2rem;
  }
  #palabra-secreta {
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #categoria {
    font-size: 1.7em;
  }
  #jemm {
    font-size: 1.1em;
  }
}

@media (max-width: 797px) {
  .teclas button {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    font-weight: 500;
  }
  #palabra-secreta {
    font-size: 0.8em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #categoria {
    font-size: 1.5em;
  }
}

@media (max-width: 498px) {
  .teclas button {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    font-weight: 600;
  }
  #palabra-secreta {
    font-size: 0.7em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #categoria {
    font-size: 1.2em;
  }

}

@media (max-width: 398px) {
  .teclas button {
    width: 27px;
    height: 27px;
    font-size: 1em;
    font-weight: 100;
  }
  #palabra-secreta {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #categoria {
    font-size: 1.2em;
  }
}

@media (max-width: 368px) {
  .teclas button {
    width: 25px;
    height: 27px;
    font-size: 1em;
    font-weight: 100;
  }
}

@media (max-width: 348px) {
  .teclas button {
    width: 22px;
    height: 25px;
    font-size: 1em;
    font-weight: bold;
  }
  #palabra-secreta {
    font-size: 1em;
  }
  .letras {
    width: 0.5em;
  }
  #categoria {
    font-size: 1em;
  }
}
